body {
    text-align: center;
    background-color: #a06060;
}
.all {
    margin: 10% auto;
}
.button{
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 12px;
    width: 150px;
    height: 150px;
    margin: 10px;
    text-align: center;
    /* transition: 0.07s;    */
}